.formContainer {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 800px) {
  .formContainer {
    width: 100%;
  }
}

.formContainer form {
  width: 70%;
  min-width: max-content;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 1rem;
  border-radius: 3px;
  overflow: hidden;
}

input[type="text"],
select {
  width: 100%;
  font-family: var(--primaryFont);
  font-size: 0.8rem;
  padding: 0.4rem;
  border-radius: 3px;
  border: 1px solid #ccc;
  margin-bottom: 1rem;
}

input[type="text"] {
  box-sizing: border-box;
}

input[type="text"]::placeholder {
  opacity: 1;
}

.formContainer label {
  font-size: 0.8rem;
  margin-bottom: 0.25rem;
}

.formContainer button {
  font-size: 0.8rem;
  font-family: var(--primaryFont);
  color: var(--offWhite);
  display: inline-block;
  padding: 0.5rem 1.5rem;
  text-decoration: none;
  border-radius: 10rem;
  transition: background-color 0.2s, color 0.2s, transform 0.2s, box-shadow 0.2s;
  background-color: var(--secondaryColor);
  border: 1px solid var(--secondaryAccent);
}

.formContainer button:hover {
  background-color: var(--secondaryAccent);
  color: var(--primaryColor);
  cursor: pointer;
  transform: scale(1.05);
  box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.2);
}
