.formContainer {
  width: 60%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.formContainer form {
  width: max-content;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: rgba(255, 255, 255, 0.5);
}
