.headingContainer {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

header h1,
header h2 {
  font-family: var(--secondaryFont);
  font-weight: normal;
}

header h1 {
  font-family: var(--secondaryFont);
  color: var(--secondaryColor);
  font-size: 3rem;
  text-transform: uppercase;
}

.bannerContainer {
  min-height: 75vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(../../assets/background.jpg);
  background-size: cover;
  background-position: center;
}

.bannerContainer .wrapper {
  display: flex;
  height: 75vh;
}

.subheadingContainer {
  width: 60%;
  display: flex;
  /* align-items: center; */
}

header h2 {
  font-size: 2rem;
  color: var(--offWhite);
  padding-top: 1rem;
}
