.headingContainer {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

header h1,
header h2 {
  font-family: var(--secondaryFont);
  font-weight: normal;
}

header h1 {
  font-family: var(--secondaryFont);
  color: var(--secondaryColor);
  font-size: 3rem;
  text-transform: uppercase;
}

.bannerContainer {
  min-height: 75vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(../../assets/background.jpg);
  background-size: cover;
  background-position: center;
}

.bannerContainer .wrapper {
  display: flex;
  height: 75vh;
}

@media only screen and (max-width: 800px) {
  .bannerContainer .wrapper {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
}

.subheadingContainer {
  width: 50%;
  display: flex;
}

@media only screen and (max-width: 800px) {
  .subheadingContainer {
    width: 100%;
  }
}

@media only screen and (max-width: 800px) {
  .subheadingContainer h2 {
    margin: 0 auto;
  }
}

@media only screen and (max-width: 500px) {
  .subheadingContainer h2 {
    text-align: center;
  }
}

@media only screen and (max-width: 1000px) {
  .subheadingContainer span {
    display: block;
  }
}

@media only screen and (max-width: 800px) {
  .subheadingContainer span {
    display: inline;
  }
}

@media only screen and (max-width: 500px) {
  .subheadingContainer span {
    display: block;
  }
}

header h2 {
  font-size: 2rem;
  color: var(--offWhite);
  padding-top: 1rem;
}
