:root {
  /* FONTS */
  --primaryFont: "Raleway", sans-serif;
  --secondaryFont: "Cabin Sketch", cursive;

  /* COLORS */
  --primaryColor: #252627;
  --secondaryColor: #bb0a21;
  --backgroundColor: #e0eeee;
  --primaryAccent: #edd9a3;
  --secondaryAccent: #00bfff;
  --offWhite: #f8f8ff;
}

html {
  font-size: 125%;
}

body {
  font-family: var(--primaryFont);
  color: var(--primaryColor);
  background-color: var(--backgroundColor);
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
p {
  margin: 0;
}
