:root {
  /* FONTS */
  --primaryFont: "Raleway", sans-serif;
  --secondaryFont: "Cabin Sketch", cursive;

  /* COLORS */
  --primaryColor: #252627;
  --secondaryColor: #ff3030;
  --backgroundColor: #e0eeee;
  --secondaryAccent: #00bfff;
  --offWhite: #f8f8ff;
}

html {
  font-size: 125%;
}

@media only screen and (max-width: 600px) {
  html {
    font-size: 100%;
  }
}

body {
  font-family: var(--primaryFont);
  color: var(--primaryColor);
  background-color: var(--backgroundColor);
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
p {
  margin: 0;
}
